.cardProfile {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &>img {
    width: 380px;
    z-index: 2;
  }

  .cardDescription {
    width: 350px;
    border: 1px solid gray;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-radius: 4px;
    margin-left: -10px;
    margin-top: 20px;
    z-index: 0;

    &>div {
      min-height: 30px;
      line-height: 30px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      padding: 5px 10px 5px 20px;
    }

    h2 {
      font-weight: 500;
      margin: 0 10px 0 0;
    }

    .texts {
      line-height: 25px;

      .flavor {
        font-style: italic;
        margin-top: 15px;
      }
    }

    .printings {
      img {
        max-height: 25px;
      }
    }

    .legalities {
      dl {
        display: flex;
        flex-flow: row wrap;
      
        &>div {
          display: flex;
          flex-direction: row;
          width: 150px;
        }
        
        font-size: 15px;

        dd{
          font-size: 13px;
          text-transform: uppercase;
          margin: 0 5px 5px 0;
          width: 70px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 3px;
          color: white;
        }

        .legal{
          background-color: rgb(88, 163, 88);
        }

        .illegal{
          background-color: rgb(190,190,190);
        }
      }
    }
  }
}

.rulings{
  margin-bottom: 20px;
  padding: 40px 0;
  text-align: justify;
  font-size: 18px;
  line-height: 26px;

  h3{
    margin-top:0;
  }

  .date{
    font-style: italic;
    color: darkgray;
    text-align: right;
    margin-bottom: 20px;
  }

  .left{
    margin-right: 20px;
  }

  .right{
    margin-left: 20px;
  }
}