.navbarContainer{
    background-color: rgb(183, 21, 64);
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 20px 0;
    position: relative;
}

.navbarContainer a{
    color: white;
    padding: 0 15px;
    line-height: 50px;
}

.navbarContainer a:hover{
    background-color: #9e324e;
}

.navbarContainer a:first-of-type{
    margin-left: 70px;
}

.navbarContainer a:first-of-type:hover{
    background-color: transparent;
}

.navbarContainer a:first-of-type:hover img:not(:hover){
    opacity: 0.9;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px black);
}

.navbarContainer img{
    height: 70px;
    width: 70px;
    position: absolute;
    top: -10px;
    left: 10px;
    transition: 0.2s ease-in-out;
}

.navbarContainer img:hover{
    opacity: 0.9;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px black);
}

.navbarContainer .navbarTitle{
    font-size: 20px;
}

.navbarContainer .navbarTitle:hover{
    background-color: transparent;
}