html, body{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  &>div{
    width: 1000px;
  }
}

.grey-bg {
  background-color: gray;
}